*{
   margin: 0;
   padding: 0;
}
.container {
   display: flex;
   flex-direction: row;
   justify-content: center;
  }
  nav{
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: black;
   padding: 10px 70px;
   list-style: none;
  }
  nav ul {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
  }
  nav ul li {
   margin-right: 20px;
  }
  nav ul li a {
   color: #000000;
   text-decoration: none;
  }
  .bg-495E57{
   background-color: #495E57;
  }
  .bg-ECDCDC{
   background-color: #ECDCDC;
  }
  .bg-F2CBCB{
   background-color: #F2CBCB;
  }
  .bg-DEA1A{
   background-color: #DEA1A1;
  }
  .f-E3AE7D{
   color: #E3AE7D;
  }
  .f-F4CE14{
   color: #F4CE14;
  }